/* generales */

/* imports */
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,200;0,400;0,700;1,800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Serif+Pro:wght@200;300;400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Vollkorn:wght@400;500;700;900&display=swap");

/* fin de imports */

/* reset de pagina */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto Slab", serif;
   /* border: 1px solid blue;  */
}
/* fin de reset */

/* root (paleta de colores)*/
:root {
  --blanco: white;
  --negro: black;
  --primario: #e55224;
  --secundario: #d86542;
  --terciario: #24262b;
}
/* fin del root (paleta de colores)*/

/* body/html */
html,
body {
  background: white;
}
/* fin del body/html */

/* top header (appalert) */

.appAlert {
  background-color: var(--primario);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px 14px;
}

.appAlertContainer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.infoText {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  margin: 0px 15px;
  font-family: "Roboto Slab", serif;
  font-weight: 500;
  color: white;
}

.infoText p {
  margin: 0px 5px;
}
/* fin del top header  */

/* header */
/* logo - texto al lado del logo- */
.appHeader {
  height: 100px;
  width: 100%;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.headerContainer {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  padding: 20px 15px;
  max-width: 1700px;
}
.headerLogoTitle {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-align: start;
  gap: 20px;
}
.headerLogoTitle a .appHeaderImg {
  height: 80px;
  width: auto;
  justify-content: flex-start;
}

.headerTitle {
  font-size: 17px;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
}

.headerTitle h1 {
  font-size: 18px;
  width: 100%;
  justify-content: flex-start;
  align-items: center;
  text-align: start;
}
.headerTitle h2 {
  font-size: 16px;
  width: 100%;
}

/* fin logo - texto al lado del logo- */

/* nav */

.container-fluid {
  background-color: white;
  border-radius: 23px;
}

.nav-item {
  justify-content: center;
  align-items: center;
  text-align: center;
}

.nav-link {
  align-items: center;
  justify-content: center;
  padding: 10px;
  background-color: white;
  text-decoration: none;
}

.nav-link:hover {
  color: var(--secundario);
}

/* fin del nav */
/* fin del header */

/* main */

/* index */
.appMain {
  width: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
}

.appContent {
  width: 100%;
  max-width: 1920px;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
}

.appHero {
  width: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
}

.appTitleContainer {
  background: linear-gradient(rgba(255, 255, 255, 0.692), rgba(0, 0, 0, 0.733)),
    url(../img/fondohero3.png);
  width: 100%;
  height: 550px;
  background-size: cover;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  gap: 50px;
  font-family: "Barlow", sans-serif;
  font-weight: bold;
  color: black;
}

.titleContainer {
  font-family: "Barlow", sans-serif;
  font-weight: bold;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 20px;
  font-size: 35px;
}

.appHeroContent {
  margin-top: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  font-size: 20px;
}

.appHeroContent .subTitleContainer {
  font-size: 20px;
  padding-bottom: 10px;
  font-size: 20px;
  font-family: "Roboto Slab", serif;
}

.heroContentParaph {
  font-size: 18px;
  font-family: "Barlow", sans-serif;
  font-weight: 600;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  font-family: "Roboto Slab", serif;
  gap: 10px;
}

.cuadradoNaranja {
  line-height: 1.6;
  overflow: hidden;
  font-family: "Roboto Slab", serif;
  font-weight: 300;
  color: white;
  line-height: 1em;
  width: 100%;
  max-width: 40%;
  background-color: #f05a29;
  border: 2px solid black;
  padding-top: 20px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 10px 10px 10px 10px;
}

.cuadradoNaranja p {
  line-height: 1.5;
}

.appText {
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
}
.heroContentLema {
  font-weight: bold;
  font-size: 30px;
  font-family: "Barlow", sans-serif;
  margin-top: 20px;
}

.heroContentBtn button {
  background-color: white;
  padding: 10px;
  border: 2px solid white;
  margin-top: 10px;
  border-radius: 15%;
  font-size: 19px;
  color: black;
  width: 100px;
  height: 50px;
}

.heroContentBtn button:hover {
  color: #e55224;
  cursor: pointer;
  transition: 1.5s;
  width: 150px;
  transition-timing-function: linear;
}

/* carousel + info */
.carouselContainer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 40px;
  
}
.prueba1 {
  width: 80%;
}

.title h2 span{
  border-bottom: 1px solid  black;
}
.title div {
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
}
.title img {
  width: 100px;

}

.title p {
  width: 500px;
  font-size: 18px;
  color: black;
  
}



.carousel-item img{
  width: 600px;

}
/* fin de carousel + info */

/* cards proyectos */
.h1Proyectos{
  background: #e55224;
  color: #fff;
  text-align: center;
  margin: 0 0 5% 0;
  padding: 5px;
  margin: 0 0 5% 0;
}
.h2Proyectos {
  background: #e55224;
  color: #fff;
  text-align: center;
  margin: 0 0 5% 0;
  padding: 0.5em;
  margin: 0 0 5% 0;
}

.cardBox {
  float: left;
  font-size: 1.2em;
  margin: 1% 0 0 1%;
  perspective: 900px;
  transition: all 0.3s ease 0s;
  width: 23.7%;
  font-family: Arial, Helvetica, serif;
  font-weight: normal;
}

.cardBox:hover .card {
  transform: rotateY(180deg);
}

.card {
  background: #222;
  cursor: default;
  height: 400px;
  transform-style: preserve-3d;
  transition: transform 0.4s ease 0s;
  width: 100%;
  -webkit-animation: giro 1s 1;
  animation: giro 1s 1;
  margin-bottom: 30px;
}
.card h3 {
  font-size: 20px;
}
.card p {
  margin-bottom: 70px;
  font-size: 15px;
  font-family: Arial, Helvetica, serif;
  font-weight: normal;
}

.card .front,
.card .back {
  backface-visibility: hidden;
  box-sizing: border-box;
  color: white;
  display: block;
  font-size: 1.2em;
  height: 100%;
  padding: 0.8em;
  position: absolute;
  text-align: center;
  width: 100%;
}

.card .front .imgCardBox {
  width: auto;
  height: 35%;
  margin: -15px;
  transform: scale(2);
}
.card .back {
  transform: rotateY(180deg);
}

.card .back a {
  padding: 0.3em 0.5em;
  background: #333;
  color: #fff;
  text-decoration: none;
  border-radius: 1px;
  font-size: 0.9em;
  transition: all 0.2s ease 0s;
}

.card .back a:hover {
  background: #fff;
  color: #333;
  text-shadow: 0 0 1px #333;
}

.cardBox:nth-child(1) .card .back {
  background: cornflowerblue;
}

.cardBox:nth-child(2) .card .back {
  background: orange;
}

.cardBox:nth-child(3) .card .back {
  background: yellowgreen;
}

.cardBox:nth-child(4) .card .back {
  background: tomato;
}

.cardBox:nth-child(2) .card {
  -webkit-animation: giro 1.5s 1;
  animation: giro 1.5s 1;
}

.cardBox:nth-child(3) .card {
  -webkit-animation: giro 2s 1;
  animation: giro 2s 1;
}

.cardBox:nth-child(4) .card {
  -webkit-animation: giro 2.5s 1;
  animation: giro 2.5s 1;
}

@-webkit-keyframes giro {
  from {
    transform: rotateY(180deg);
  }
  to {
    transform: rotateY(0deg);
  }
}

@keyframes giro {
  from {
    transform: rotateY(180deg);
  }
  to {
    transform: rotateY(0deg);
  }
}
@media screen and (max-width: 1100px) {
  .cardBox {
    margin-left: 2.8%;
    margin-top: 3%;
    width: 46%;
  }

  @media screen and (max-width: 767px) {
    .cardBox {
      margin-left: 2.8%;
      margin-top: 3%;
      width: 46%;
    }
    .card {
      height: 285px;
    }
    .cardBox:last-child {
      margin-bottom: 3%;
    }
  }

  @media screen and (max-width: 550px) {
    .cardBox {
      width: 94.5%;
    }
    .card {
      height: 260px;
    }
  }
  /* fin de cards proyectos -index*/


}
.carousel-item img {
  width: 70%;
  height: auto;
  object-fit: cover;
}

/* fin del galeria - index */
/* formulario y requisitos  -index */
.requisitosContainer {
  display: flex;
  width: 100%;
  max-width: 1920px;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-left: 20px;
}
.requisitos {
  padding-left: 70px;
}
.requisitos h2 {
  background-color: #e55224;
  color: white;
  text-align: center;
  margin-bottom: 10px;
  border-radius: 10px;
  padding: 5px;
}
/* fin de formulario y requisitos  -index */
/* formulario voluntario-index */
.formVoluntario {
  max-width: 1920px;
  width: 100%;

  font-family: "Roboto Slab", serif;
}

form {
  width: 500px;
  margin: auto;
  height: auto;
  background-color: #e55224;
  padding: 10px 20px;
  box-sizing: border-box;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 20px;
}
form h2 {
  text-align: center;
  margin: 0;
  color: white;
  font-size: 25px;
  font-family: "Roboto Slab", serif;
  margin-bottom: 20px;
}
form input {
  width: 100%;
  margin-bottom: 20px;
  padding: 7px;
  box-sizing: border-box;
  font-size: 17px;
  border: 1px solid black;
}

form textarea {
  width: 100%;
  margin-bottom: 20px;
  padding: 7px;
  box-sizing: border-box;
  font-size: 17px;
  border: none;
  min-height: 100px;
  max-height: 200px;
  border: 1px solid black;
}

form .boton {
  background-color: white;
  padding: 20px;
}

form .boton:hover {
  color: #e55224;
  cursor: pointer;
  transition: 1.5s;
}

/* fin del  formulario voluntario-index */

/* requisitos -index */
.requisitos {
  color: black;
  text-align: start;
  justify-content: start;
  align-items: start;
  margin-top: 80px;
  margin-bottom: 40px;
  font-size: 22px;
}
/*fin de  requisitos -index */


/* apadrina un niño -index */
.apadrinaIndex {
  width: 100%;
  max-width: 1920px;
  display: flex;
  justify-content: space-around;
 
}

.apadrinaIndex img {
  width: 400px;
  margin-top: 40px;
  height: auto;
  padding-left: 20px;
}
.apadrinaContainerText {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: black;
  
  margin-top: 30px;
  height:350px;
  width: 700px;
  color: #e55224;
  

  
  
}
.titleLogo{
  display: flex;
  justify-content: space-between;
  vertical-align: middle;
  vertical-align: text-top;
}
.titleLogo  h2{
  font-size: 50px;
  padding: 10px;
  border-radius: 20px;

}
.titleLogo  h2 span{
  border-bottom: 3px dotted black;
}
.titleLogo img{
  width: 150px;
  gap: 20px;
  margin-right: 50px;
  vertical-align: text-top;
  position: relative;
  right: 1080px;
  top: 130px;
}

.parrafoApadrina{
  width: 100%;
}
.parrafoApadrina p{
 font-size: 22px; 
 color: black;
 
}
.donarButton button{
  background-color: white;
  color: black;

  padding: 10px 25px 10px 25px;
  color: black;
  font-size: 17px;
border: 1px solid black;
display: flex;
justify-content: center;


}
.donarButton button:hover{
  color: #e55224;
  cursor: pointer;
  transition: 1.5s;
}
/* fin de apadrina un niño -index */

/* entidades -index */

.Entidades {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
}
.Entidades h2 {
  padding: 10px;
  color: white;
  background-color: #e55224;
}
.entidadesContainer {
  display: flex;
  flex-direction: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  gap: 40px;
  padding-bottom: 60px;
  margin-bottom: 20px;
  border-bottom: 2px dotted black;
}

.entidadesImg {
  width: 150px;
  height: 150px;
  transition: 1s;
  border-radius: 5px;
  object-fit: cover;
}
.entidadesImg:hover {
  transform: scale(1.1);
  box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.2s);
}
/* fin de  entidades -index */

/*OPINIONES CARRUSEL*/
.containerOpiniones {
  margin-top: 40px;
}
.containerOpiniones h2 {
  text-align: center;
  text-transform: uppercase;
  font-family: "Noto Sans", sans-serif;
  font-weight: bold;
  position: relative;
  color: black;
  margin-top: 30px;
  margin-bottom: 20px;
  font-size: 20px;
}
.containerOpiniones h2::after {
  content: "";
  width: 140px;
  position: absolute;
  margin: 0 auto;
  height: 3px;
  background: #e55224;
  left: 0;
  right: 0;
  bottom: -10px;
  opacity: 0.8;
}
.col-center {
  margin: 0 auto;
  float: none !important;
}
.carousel {
  padding: 0 70px;
}
.carousel-item {
  color: #999;
  font-size: 14px;
  text-align: center;
  overflow: hidden;
  min-height: 290px;
  color: black;
}
.carousel .item .img-box {
  width: 135px;
  height: 135px;
  margin: 0 auto;
  padding: 5px;
  border: 1px solid #ddd;
  border-radius: 50%;
}
.carousel .img-box img {
  width: 100%;
  height: 100%;
  display: block;
  border-radius: 50%;
}
.carousel .testimonial {
  padding: 30px 0 10px;
}
.carousel .overview {
  font-style: italic;
}
.carousel .overview b {
  text-transform: uppercase;
  color: #e55224;
}
.carousel .carousel-control {
  width: 40px;
  height: 40px;
  margin-top: -20px;
  top: 50%;
  background: none;
}
.carousel-control i {
  font-size: 68px;
  line-height: 42px;
  position: absolute;
  display: inline-block;
  color: rgba(0, 0, 0, 0.8);
  text-shadow: 0 3px 3px #e6e6e6, 0 0 0 #000;
}
.carousel .carousel-indicators {
  bottom: -40px;
}
.carousel-indicators li,
.carousel-indicators li.active {
  width: 10px;
  height: 10px;
  margin: 1px 3px;
  border-radius: 50%;
}
.carousel-indicators li {
  background: #e55224;
  border-color: transparent;
  box-shadow: inset 0 2px 1px rgba(0, 0, 0, 0.2);
}
.carousel-indicators li.active {
  background: #e55224;
  box-shadow: inset 0 2px 1px rgba(0, 0, 0, 0.2);
}
.row {
  margin-right: 0;
  margin-left: calc(-0.5 * var(--bs-gutter-x));
}

/* Fin de OPINIONES CARRUSEL*/

/* fixed logo wp */
.fixed {
  position: fixed;
  bottom: 20px;
  right: 50px;
  width: 10px;
  height: auto;
}

.fixed img {
  width: 40px;
  height: auto;
}
/* fin del fixed logo wp */

/* fin del index */






/* nosotros */
/* members -nosotros*/
.miembrosTitle {
  color: #e55224;
  font-weight: 500;
  text-align: center;
  font-size: 64px;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

.members {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.member {
  text-align: center;
  flex-basis: 33%;
  padding: 24px;
  box-sizing: border-box;
  margin-bottom: 30px;
}
.member img {
  width: 168px;
  height: 168px;
  border-radius: 100px;
}
.member-name {
  margin: 0;
  margin-top: 12px;
  font-weight: 600;
  font-size: 24px;
  color: #e55224;
}

.member-role {
  font-style: italic;
  font-size: 18px;
  color: black;
}

.container span{
  border-bottom: 1px solid black;
}
.container h3{
  color:  black;
  display: flex ;
  justify-content: center;
  align-items: center;
  margin-top:20px;
  margin-bottom: 20px;
}
.comisionDirectiva{
  display: flex;
  justify-content: center;
}

.vocalesTitulares{
  display: flex;
  justify-content: center;
}

.vocalesSuplentes{
  display: flex;
  justify-content: center;
}

.comisionCuentas{
  display: flex;
  justify-content: center;
}

/* find de members - nosotros */


/* objetivos - nosotros */

.objetivos div{
  width: 33%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.porqueObjetivos{
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.porqueContainer{
  background-color: #e55224;
  padding-top:20px ;
  color: white;
  width: 80%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  border-radius: 190px 190px 0px 0px;
}
.contenedorObjetivos{
  display: flex;
  width: 80%;
  justify-content: center;
  align-items: center;

}
.objetivos{
  width: 33%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content:flex-start;
  margin-top: 10px;
  height: 300px;
}

.objetivos h2 {
  border-bottom: 1px solid black ;
}

.objetivos p{
  width: 80%;
}






/*  fin de objetivos - nosotros */

/* nuestra historia + carousel-nosotros */
.nuestroEquipo {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1920px;
  margin-top: 60px;
}

.carouselEquipo {
  width:100%;
  max-width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.equipoCarouselContenedor{
  width:100%;
  max-width:100%;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.equipoText {
  width: 100%;
  max-width: 1920px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.equipoTextContainer {
  background-color: #e55224;
  border-radius: 0px 0px 30px 30px;
  width: 60%;
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.equipoTextContainer h2 {
  justify-content: center;
  display: flex;
  margin-top: 10px;
  font-size: 50px;
  color: white;
}
.equipoTextContainer h2 span {
  border-bottom: 1px solid;
}

.equipoTextContainer h3 {
  justify-content: center;
  display: flex;
  margin-top: 20px;
  font-size: 30px;
  color: white;
  border-bottom: 2px dotted white;
}

.equipoTextContainer p{
  color: white;
  width:100%;
  max-width: 80%;
  font-size: 19px;
  margin-left: 20px;
  margin-top: 20px;
}

.containerP{
  width: 100%;
  max-width: 1920px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/* fin de nuestra historia + carousel-nosotros */
/* fin del nosotros */

/* galeria */
.categories {
  margin: 2% 1.5%;
  z-index: 9990;
}

.categories button {
  border: 2px solid #ddd;
  z-index: 9990;
  border-radius: 3px;
  min-width: 80px;
  min-height: 37px;
  padding: 10px;
  background-color: #fff;
  font-weight: 600;
  color: #ccc;
  outline: none;
  -webkit-transition: all ease 0.3s;
  -moz-transition: all ease 0.3s;
  -ms-transition: all ease 0.3s;
  -o-transition: all ease 0.3s;
  transition: all ease 0.3s;
  cursor: pointer;
}

.categories button:hover {
  border: 2px solid #aaa;
  color: #999;
}

.categories button:focus {
  border: 2px solid #3498ff;
  color: #3498ff;
}

.image-gallery {
  z-index: 9990;
  width: 100%;
  height: auto;
  background-color: transparent;
}

.image-card {
  display: inline-block;
  width: 31%;
  margin: 1.5% 0 0 1.5%;
  padding-top: 21%;
  border-radius: 4px;
  background-color: #fff;
  position: relative;
  -webkit-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.4);
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.4);
  overflow: hidden;
  cursor: pointer;
}

.image-card:hover {
  -webkit-box-shadow: 0 0 8px 0 #3498ff;
  box-shadow: 0 0 8px 0 #3498ff;
 
}

.no-event {
  position: absolute;
  top: 0px;
  left: 0px;
  width: auto;
  height: 100%;
  pointer-events: none;
}

.both {
  clear: both;
}

@media screen and (max-width: 480px) {
  .image-card {
    width: 45%;
    padding-top: 45%;
    margin: 1.5%;
  }

  .categories {
    float: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
  }

  .categories button {
    width: 47.5%;
    float: none;
    display: inline-block;
    margin-top: 5px;
    font-size: 3vmin;
  }
}

@media screen and (max-width: 320px) {
  .image-card {
    width: 80%;
    padding-top: 80%;
    margin: 2% 10%;
  }

  .categories button {
    width: 80%;
    float: none;
    display: block;
    margin: 0px auto 7px auto;
    font-size: 5vmin;
  }
}
/* fin de galeria */

/* contacto */
/* fin de contacto */

/* donar  */
/* fin de donar */

/* fin del main */
/* footer */
.footer {
  background-color: #24262b;
  padding: 30px 0;
}
.containerFooter {
  max-width: 1170px;
  margin: auto;
  width: 100%;
}
.row {
  display: flex;
  flex: wrap;
}
.sectionsFooter {
  width: 25%;
  padding: 0 15px;
}
.sectionsFooter h4 {
  font-size: 18px;
  color: white;
  text-transform: capitalize;
  margin-bottom: 35px;
  font-weight: 500;
  position: relative;
}

.sectionsFooter ul {
  list-style: none;
}

.sectionsFooter ul li {
  margin-bottom: 14px;
}
.sectionsFooter ul li a {
  text-decoration: none;
  color: #bbbbbb;
}
.sectionsFooter ul li a:hover {
  color: white;
  padding-left: 20px;
}

.sectionsFooter {
  width: 25%;
  padding: 0 15px;
}

.contacto {
  width: 100%;
  padding: 0 15px;
}

.contacto h4 {
  font-size: 18px;
  color: white;
  text-transform: capitalize;
  margin-bottom: 35px;
  font-weight: 500;
  position: relative;
}
.contacto li {
  margin-bottom: 14px;
}
.contacto p {
  font-size: 15px;
  color: #bbbbbb;
}
.sectionsFooter {
  width: 25%;
  padding: 0 15px;
}
.sectionsFooter h4 {
  font-size: 18px;
  color: white;
  text-transform: capitalize;
  margin-bottom: 35px;
  font-weight: 500;
  position: relative;
}
.sectionsFooter li {
  margin-bottom: 14px;
}
.sectionsFooter p {
  font-size: 15px;
  color: #bbbbbb;
}

.sectionsFooter {
  width: 25%;
  padding: 0 15px;
}
.sectionsFooter h4 {
  font-size: 18px;
  color: white;
  text-transform: capitalize;
  margin-bottom: 35px;
  font-weight: 500;
  position: relative;
}
.socialLinks {
  display: flex;
}
.socialLinks a {
  color: black;
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: rgba(255, 255, 255, 0.2);
  margin: 0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 40px;
  text-decoration: none;
}
.socialLinks a:hover {
  color: #24262b;
  background-color: white;
}
.socialLinks a i {
  font-size: 20px;
  align-self: center;
}

/*  fin del footer */
/* media querys */
@media (max-width: 1930px) {
  .nosotrosContenedor .noticia {
    width: 50%;
  }
  .nosotrosContenedor .noticia .izquierda {
    width: 80%;
    height: auto;
    object-fit: cover;
    border-radius: 10px;
    margin-left: 19px;
  }
  .formAndReq {
    margin-top: 80px;
    width: 500px;
    height: 700px;
  }
  .requirementsList > ul > li {
    font-size: 28px;
  }
  .tituloGaleria {
    font-size: 28px;
  }
  .containerCarruselOpiniones {
    width: 90%;
  }
  .carouselGallery {
    width: 100%;
  }

  .nosotrosMobile .nosotrosImg3 {
    width: 850px;
    margin-top: 4px;
    height: auto;
    margin-top: 5px;
  }

  .footer .containerFooter {
    width: 80%;
  }
}

@media (max-width: 1370px) {
  .nosotrosContenedor .noticia {
    width: 70%;
  }
  .nosotrosContenedor .noticia .izquierda {
    width: 80%;
    height: auto;
    object-fit: cover;
    border-radius: 10px;
    margin-left: 19px;
  }
  .Entidades .gridContainerEntidades {
    grid-template-columns: repeat(2, 300px);
    grid-template-rows: 400px;
    place-content: center;
  }
  .cardContainer {
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .mapsContainer > h2 {
    font-size: 18px;
  }
  .mapsContainer > p {
    font-size: 15px;
  }
  .nosotrosMobile .nosotrosImg3 > img {
    width: 450px;
    margin-top: 4px;
    height: auto;
    margin-top: 5px;
  }

  .contactoMain .contactoContainer .contactoMaps .mapsContainer .mapa iframe {
    width: 800px;
    height: 600px;
  }
  .proyectosMain .proyectosContent .card .cardContainer {
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .contactoMain
    .contactoContainer
    .redesContacto
    .redesContactoContainer
    .redesLinkImg
    a
    .redesLinkImgFace {
    width: 300px;
    height: 300px;
  }
  .contactoMain
    .contactoContainer
    .redesContacto
    .redesContactoContainer
    .redesLinkImg
    a
    .redesLinkImgInsta {
    width: 300px;
    height: 300px;
  }
}

@media (max-width: 1230px) {
  .contactoMain
    .contactoContainer
    .redesContacto
    .redesLinkImgContainer
    a
    .redesLinkImgInsta {
    width: 300px;
    height: 300px;
  }

  .contactoMain
    .contactoContainer
    .redesContacto
    .redesLinkImgContainer
    a
    .redesLinkImgFace {
    width: 300px;
    height: 300px;
  }
  .appMain .appContent .appHero .carouselGallery {
    width: 700px;
  }
  .containerCarruselOpiniones {
    width: 700px;
  }

  .appMain .appContent .appHero .formularioVoluntario .formularioContainer {
    width: 100%;
    height: auto;
  }

  .appTitleContainer > h1 {
    font-size: 22px;
  }

  .appHeroContent > h2 {
    font-size: 19px;
  }

  .heroContentParaph2 {
    font-size: 14px;
  }

  .heroContentLema {
    font-size: 22px;
  }
  .appTitleContainer {
    height: 500px;
  }

  .contactoMain {
    width: 100%;
    display: flex;
  }

  .footer .containerFooter {
    width: 80%;
  }

  .contactoMain .contactoContainer .contactoMaps {
    width: 100%;
  }

  .contactoMain .contactoContainer div .paraph {
    width: 100%;
    font-size: 15px;
  }

  .sectionsFooterContacto {
    width: 80%;
    padding: 0 15px;
  }

  .footer .containerFooter {
    width: 90%;
  }
}

@media (max-width: 850px) {
  .proyectosMain .proyectosContent .card .cardContainer .cardContainerImg img {
    flex: wrap;
    justify-content: center;
    align-items: center;
  }
  .appMain .appContent .appHero .appHeroContent .heroContentParaph {
    display: none;
  }

  .proyectosMain .proyectosContent .card .cardContainer .cardContainerImg img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
  }
  .contactoMain .contactoContainer .cardContainer {
    width: 100%;
  }
  .footer {
    width: 100%;
  }

  .proyectosMain .proyectosContent .card .cardContainer .cardContainerImg img {
    align-items: center;
    justify-content: center;
  }
  .footer .containerFooter {
    max-width: 700px;
  }

  .appMain .appContent .appHero .carouselGallery {
    width: 600px;
    height: auto;
  }
  .appMain .appContent .appHero .formularioVoluntario .formularioContainer {
    width: 600px;
    height: auto;
  }

  .Entidades div .gridContainerEntidades {
    grid-template-columns: repeat(1, 300px);
    grid-template-rows: 400px;
    gap: 5px;
    place-content: center;
  }

  .appTitleContainer > h1 {
    font-size: 22px;
  }

  .appHeroContent > h2 {
    font-size: 19px;
  }

  .heroContentParaph2 {
    font-size: 10px;
  }

  .heroContentLema {
    font-size: 14px;
  }

  .sumateTitle > h2 {
    font-size: 22px;
  }

  .sumateTitle > p {
    font-size: 16px;
  }
  .requirementsTitle > h2 {
    font-size: 25px;
  }

  .requirementsList > ul {
    font-size: 16px;
  }

  .tituloGaleria > h2 {
    font-size: 25px;
  }

  .Entidades div .gridContainerEntidades {
    grid-template-columns: repeat(1, 300px);
    grid-template-rows: 400px;
    gap: 5px;
    place-content: center;
  }

  .sectionsFooter {
    width: 100%;
  }
  .contactoMain .contactoContainer .contactoMaps .mapsContainer p {
    font-size: 13px;
  }
  .footer .containerFooter .row .sectionsFooter:nth-child(2) {
    display: none;
  }
  .appAlert .appAlertContainer .infoText:nth-child(2) {
    display: none;
  }
  .nosotrosImg3 > img {
    width: 250px;
    margin-top: 4px;
    height: auto;
    margin-top: 5px;
  }
  .proyectosMain .proyectosContent .card .cardContainer .cardContainerImg {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .contactoMain
    .contactoContainer
    .redesContacto
    .redesLinkImgContainer
    a
    .redesLinkImgFace {
    width: 350px;
    height: auto;
  }
  .contactoMain
    .contactoContainer
    .redesContacto
    .redesLinkImgContainer
    a
    .redesLinkImgInsta {
    width: 350px;
    height: auto;
  }
  .contactoMain .contactoContainer .contactoMaps .mapsContainer .mapa iframe {
    width: 600px;
    height: 400px;
  }
  .contactoMain .contactoContainer .redesContacto .redesContactoContainer {
    width: auto;
  }
}

@media (max-width: 750px) {
  .nosotrosContenedor .noticia {
    width: 90%;
  }
  .nosotrosContenedor .noticia .izquierda {
    width: 80%;
    height: auto;
    object-fit: cover;
    border-radius: 10px;
    margin-left: 15px;
  }
  .footer .containerFooter {
    width: 100%;
  }
  .footer .containerFooter .row {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .footer .containerFooter .row .sectionsFooter {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .row {
    font-size: 19px;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    width: 100%;
  }

  .containerCarruselOpiniones {
    width: 100%;
  }
  .footer .containerFooter .row .sectionsFooter {
    width: 50%;
    padding: 0 15px;
    margin-left: 30px;
  }

  .nosotrosImg > img {
    width: 350px;
    height: auto;
  }

  .nosotrosImg2 > img {
    width: 350px;
    height: auto;
  }
  .nosotrosImg3 > img {
    width: 350px;
    height: auto;
  }

  .nosotrosContainer {
    width: 90%;
  }

  .contactoMain .contactoContainer .contactoMaps .mapsContainer .mapa iframe {
    width: 300px;
    height: 300px;
    justify-content: center;
    align-items: center;
  }
  .contactoMain
    .contactoContainer
    .redesContacto
    .redesLinkImgContainer
    a
    .redesLinkImgInsta {
    width: 250px;
    height: auto;
  }
  .contactoMain
    .contactoContainer
    .redesContacto
    .redesLinkImgContainer
    a
    .redesLinkImgFace {
    width: 250px;
    height: auto;
  }

  .appMain .appContent .appHero .carouselGallery {
    width: 80%;
  }
  .appMain .appContent .appHero .formularioVoluntario .formularioContainer {
    width: 70%;
  }

  .nosotrosMain
    .nosotrosContainer
    .nosotrosContainerHistoria
    .nosotrosMobile
    .nosotrosTitleParaph
    img {
    width: 350px;
    height: auto;
    margin-bottom: 20px;
  }

  .contactoMain .contactoContainer .redesContacto .redesLinkImgContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .appAlert .appAlertContainer .infoText:nth-child(1) {
      display: none;
    }

    .containerCarruselOpiniones {
      width: 100%;
    }

    .donarContainer .Container section .row .cardContainerDonar .card {
      width: 450px;
      height: auto;
    }
    .donarContainer .Container .donarQr .qrPasos .pasosQrImg {
      width: 500px;
    }
  }

  @media (max-width: 500px) {
    .nosotrosContenedor .noticia {
      width: 80%;
    }
    .nosotrosContenedor .noticia .izquierda {
      width: 100%;
      height: auto;
      object-fit: cover;
      border-radius: 10px;
      margin-left: 13px;
    }
    .appMain .appContent .appHero .formVoluntario {
      width: 100%;
    }
    .appMain .appContent .appHero .formVoluntario form {
      max-width: 350px;
    }
    .footer .containerFooter {
      width: 100%;
    }
    .footer .containerFooter .row {
      width: 320px;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
    }
    .footer .containerFooter .row .sectionsFooter {
      width: 100%;
    }
    .footer .containerFooter .row .sectionsFooter {
      width: 100%;
    }
    .carrusel {
      width: 100%;
      height: 100%;
      object-fit: cover;
      margin: 0px;
    }

    .carouselGallery {
      width: 350px;
    }
    .containerCarruselOpiniones {
      width: 100%;
      max-width: 450px;
    }

 

    .appAlert .appAlertContainer .infoText:nth-child(1) {
      display: none;
    }

    .row {
      width: 100%;
    }

    .Entidades div .gridContainerEntidades {
      width: 100%;

      flex-direction: column;
    }

    .requirementsList > ul > li {
      font-size: 14px;
      text-align: center;
      display: flex;
      align-items: center;
    }

    .nosotrosContainer {
      width: 100%;
    }

    .redesContacto {
      width: 100%;
      text-align: center;
      justify-content: center;
      align-items: center;
    }
    .redesTitleParaph > p {
      width: 100%;
      text-align: center;
      justify-content: center;
      align-items: center;
    }

    .contactoMobile {
      font-size: 24px;
      margin-bottom: 0;
    }

    .contactoMain
      .contactoContainer
      .redesContacto
      .redesLinkImgContainer
      a
      .redesLinkImgFace {
      width: 350px;
      height: auto;
    }
    .contactoMain
      .contactoContainer
      .redesContacto
      .redesLinkImgContainer
      a
      .redesLinkImgInsta {
      width: 350px;
      height: auto;
    }

    .cardContainer {
      text-align: center;
      align-items: center;
      justify-content: center;
      flex-direction: column;
    }

    #subTitleHidden {
      display: none;
    }

    .nosotrosTitle {
      font-size: 22px;
    }
    .nosotrosMobile {
      display: flex;
      flex-direction: column;
    }

    .formContacto {
      max-width: 100%;
      width: 70%;
      height: auto;
      display: flex;
      flex-wrap: wrap;
      text-align: center;
      align-items: center;
      justify-content: center;
    }

    .contactoMain .contactoContainer .formContacto {
      width: 100%;
    }
    .contactoMain .contactoContainer .formContacto form {
      width: 80%;
      height: auto;
    }

    .contactoMain .contactoContainer .contactoMaps .mapsContainer {
      max-width: 100%;
      display: flex;
      flex-direction: column;
    }
    .contactoMain .contactoContainer .contactoMaps .mapsContainer .mapa iframe {
      width: 300px;
      height: 300px;
    }

    .contactoMain
      .contactoContainer
      .redesContacto
      .redesLinkImgContainer
      a
      .redesLinkImgFace {
      width: 200px;
      height: 200px;
    }
    .contactoMain
      .contactoContainer
      .redesContacto
      .redesLinkImgContainer
      a
      .redesLinkImgInsta {
      width: 200px;
      height: 200px;
    }

    .contactoMain {
      width: 100%;
      height: auto;
    }
    .appMain .appContent .appHero .formularioVoluntario .formularioContainer {
      width: 85%;
    }
    .appMain .appContent .appHero .carouselGallery {
      width: 85%;
    }
    .containerCarruselOpiniones {
      width: 100%;
      max-width: 370px;
    }
    .Entidades div .gridContainerEntidades {
      justify-content: center;
      align-items: center;
      text-align: center;
    }

    .Entidades div .gridContainerEntidades .galeriaImg {
      justify-content: center;
      align-items: center;
      text-align: center;
    }
    .Entidades div .gridContainerEntidades .galeriaImg:hover {
      transform: scale(0.8, 0.8);
      box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.2);
    }

    .nosotrosMobile .nosotrosImg3 > img {
      width: 250px;
      margin-top: 4px;

      margin-top: 5px;
    }
    .donarContainer .Container section .row .cardContainerDonar .card {
      width: 380px;
      height: auto;
    }
    .donarContainer .Container .donarQr .qrPasos .pasosQrImg {
      width: 380px;
    }
    .donarContainer .Container .donarQr .qrMercadoPago img {
      width: 350px;
    }
    .donarContainer .Container section .row .cardContainerDonar {
      margin-bottom: 1rem;
    }
    .containerCarruselOpiniones .carousel .carousel-control i {
      font-size: 20px;
    }
  }

  @media (max-width: 380px) {
    .containerCarruselOpiniones {
      display: none;
    }
    .footer .containerFooter {
      width: 100%;
    }
    .footer .containerFooter .row .sectionsFooter {
      width: 300px;
    }

    .appAlert .appAlertContainer .infoText:nth-child(2) {
      display: none;
    }

    .appMain .appContent .appHero .formularioVoluntario .formularioContainer {
      width: 85%;
    }
    .carouselGallery {
      max-width: 320px;
      height: 400px;
      width: 250px;
    }

    .Entidades div .gridContainerEntidades {
      max-width: 320px;
      width: 100%;
    }

    .Entidades div .gridContainerEntidades .galeriaImg {
      width: 200px;
      height: 200px;
    }

    .Entidades div .gridContainerEntidades .galeriaImg:hover {
      transform: none;
      box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.2);
    }
    .title {
      font-size: 10px;
    }
    .sumateTitle > h2 {
      font-size: 17px;
    }
    .sumateParaph {
      font-size: 13px;
    }

    .nosotrosMobile .nosotrosImg3 > img {
      width: 250px;
      margin-top: 4px;
      height: auto;
      margin-top: 5px;
    }

    .nosotrosContainer {
      width: 100%;
    }

    .requirementsTitle > h2 {
      font-size: 21px;
      text-align: center;
      justify-content: center;
      align-items: center;
    }

    .requirementsList > ul > li {
      font-size: 16px;
      text-align: center;
      justify-content: center;
      align-items: center;
    }
    .nosotrosTitle {
      font-size: 16px;
    }
    .nosotrosTitleParaph2 > h3 {
      font-size: 16px;
    }
    .nosotrosTitleParaph2 > p {
      font-size: 13px;
    }
    .contactoMobileTitle {
      font-size: 19px;
    }

    .nosotrosMain
      .nosotrosContainer
      .nosotrosContainerHistoria
      .nosotrosMobile
      .nosotrosTitleParaph
      img {
      width: 300px;
      height: auto;
    }
    .containerCarruselOpiniones {
      width: 100%;
    }
    .containerCarruselOpiniones
      .row
      .carousel
      .carousel-item
      .testimonial {
      width: 300px;
    }
  }

  .contactoMain .contactoContainer .formContacto form {
    width: 100%;
  }
  .donarContainer .Container section .row {
    width: 100%;
  }
  .donarContainer .Container section .row .cardContainerDonar .card {
    width: 300px;
  }
  .donarContainer .Container .donarQr .qrPasos .pasosQrImg {
    width: 300px;
  }
  .donarContainer .Container .donarQr .qrMercadoPago img {
    width: 300px;
  }
  .donarContainer .Container .donarQr .qrMercadoPago h2 {
    font-size: 18px;
  }
  .donarContainer .Container .donarQr .donarQrContainer .donarQrSubTitle {
    font-size: 18px;
  }
  .donarContainer .Container .donarQr .donarQrContainer .donarQrTitle {
    font-size: 18px;
  }
  .donarContainer .Container div .proyectosTitle {
    font-size: 19px;
  }
  .donarContainer .Container div h2 {
    font-size: 18px;
  }
  .appMain .appContent .appHero .appText .heroContentLema {
    font-size: 22px;
  }
  .requisitos h2 {
    font-size: 22px;
  }
  .requisitos ul li {
    font-size: 18px;
  }
  .tituloGaleria h2 {
    font-size: 22px;
  }
  .contactoMain
    .contactoContainer
    .redesContacto
    .redesContactoContainer
    .redesTitleParaph {
    margin-bottom: 10px;
  }
}

/*  fin de media querys */
